.DS_Store
.env
config/deploy/*.rb
!config/deploy/production.rb
!config/deploy/vagrant.rb
data/crawl.js
data/raw*
data/*.db
!data/sample.sqlite3.db
public/img/thumbnail/*
log/*
*.log

# Sensitive info
.env*
!.env.example
/lib/capistrano/templates/env*
!/lib/capistrano/templates/env.example
