<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Which names would you like to work on?</h3>

    <a class="btn btn-default btn-block g_btn" href="/group/all">
      <span class="no-btn"><%= @all_label %></span>
    </a>
  </div>
</div>

<% @groups.each do |group| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <a class="btn btn-default btn-block g_btn" href="<%= group.url %>">
        <span class="no-btn"><%= group.name %></span>
      </a>
    </div>
  </div>
<% end %>
