<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Which names would you like to work on?</h3>

    <a class="btn btn-default btn-block g_btn" href="/group/all">
      <span class="no-btn"><%= @all_label %></span>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <a class="btn btn-default btn-block g_btn" href="/group/1-palo-alto">
      <span class="no-btn">Palo Alto</span>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <a class="btn btn-default btn-block g_btn" href="/group/2-san-francisco">
      <span class="no-btn">San Francisco</span>
    </a>
  </div>
</div>