.title {
  font-weight: bold;
  margin-top: 40px;
}

.center {
  text-align: center;
}

.c_img {
  width: 150px;
  height: 150px;
}

.prev_thumb {
  width: 75px;
  height: 75px;
}

.thumb {
  padding-bottom: 10px;
}

.answer {
  padding-bottom: 20px;
}

.c_btn, .g_btn {
  margin-bottom: 10px;
}

.no-btn {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;  display: block;
  width: 100%;  
  border-radius: 4px;
  margin: 8px 0;
}

.ruby {
  border: 1px solid #FDA19F;
}

.python {
  border: 1px solid #689DCA;
}

.node {
  border: 1px solid #C6F988;
}

.php {
  border: 1px solid #A6AFCB;
}

.btn-info {
  color: #fff;
  background-color: #366E9D !important;
  border-color: #366E9D !important;
}

.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active {
  color: #fff;
  background-color: #295E8B !important;
  border-color: #2B577C !important;
}

.btn-success {
  color: #fff;
  background-color: #83CD29 !important;
  border-color: #83CD29 !important;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active {
  color: #fff;
  background-color: #73B524 !important;
  border-color: #73B524 !important;
}

.btn-default {
  color: #fff;
  background-color: #6C7EB7 !important;
  border-color: #6C7EB7 !important;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  color: #fff;
  background-color: #5E6EA0 !important;
  border-color: #5E6EA0 !important;
}

.link {
  color:black;
  font-size: 22px;
  font-weight: bold;
}

.c_desc {
  font-size:13px;
}

.score {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.pts {
  background-color: #0081FF;
  border-radius: 4px;
  padding: 10px;
  text-align:center;
  margin-bottom:10px;
  color:white;
  font-size:20px;
  font-weight:bold;
}

.lvs {
  background-color: grey;
  border-radius: 4px;
  padding: 10px;
  text-align:center;
  margin-bottom:10px;
  color:white;
  font-size:20px;
  font-weight:bold;
}